openapi: 3.0.0
info:
  title: Protekt Authentication API
  description: API for managing user authentication, registration, and security features for Protekt SaaS.
  version: 1.0.0
servers:
  - url: https://api.protekt.com/v1
    description: Production Protekt API server
  - url: https://dev.api.protekt.com/v1
    description: Development Protekt API server
tags:
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User registration and profile management

paths:
  /auth/register:
    post:
      summary: Register a new user
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                password:
                  type: string
                  format: password
                  description: User's chosen password
                confirm_password:
                  type: string
                  format: password
                  description: Confirmation of the user's chosen password
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully. Please verify your email.
                  user_id:
                    type: string
                    format: uuid
                    example: a1b2c3d4-e5f6-7890-1234-567890abcdef
        '400':
          description: Invalid input or user already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Email already registered or passwords do not match.
  /auth/login:
    post:
      summary: Authenticate user and issue access token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                password:
                  type: string
                  format: password
                  description: User's password
      responses:
        '200':
          description: User successfully logged in
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT access token
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 3600
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid email or password.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message

